<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @painting.name %>
</p>

<p>
  <b>Gallery:</b>
  <%= @painting.gallery_id %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @painting.image_url(:thumb).to_s %>
</p>


<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
